

*{
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0; 
    padding: 0;


}

body{
    background-image:url(../img/bg.webp) ; 
    background-attachment:fixed;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    align-items: center;
}
    


.topo{
    display:block;
    width: 1350px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;

    
}

.topo img{
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
}


/* menu começa aqui */

.menu{
    border-radius:30px;
    background-color: #9eb0eb;
    list-style:none;
    border:1px solid #9eb0eb;
    float:;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 15px;
    font-family: basic,sans-serif;
    width: 590px;
    height: 50px;
    }

    .menu li{

        position:relative;
        float:left;
        border-right:2px solid #c0c0c0;
        padding-left: 20px;
        padding-right: 10px;
        }

        .menu li a{
            color:#333;
            text-decoration:none; 
            padding:5px 10px; 
            display:block;
        }

    .menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:23px;
    left:0;
    background-color:#9eb0eb;
    display:none;
    
    }

    .menu li:hover ul, .menu li.over ul{
        display:block;
    }

    .menu li ul li{
        border:1px solid #9eb0eb;
        display:block;
        width:150px;
        }



/* menu acaba aqui */



.container{
    width: 1350px;
    height: auto;
    font-size: 15px;
    
    display: flex;
}

.container .le{
    width: 300px;
    height: 500px;
    
    margin: 10px;
}

.container .le img{
    width: 100%;
    height: 100%;
}

.container .ld{
    width: 300px;
    height: 500px;

    margin: 10px;
}

.container .ld img{
    width: 100%;
    height: 100%;
}



.container .conteudo{
    width: 100%;
    height: auto;
    padding: 20px;
    display: block;

}


.container .conteudo .box{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-top: 50px;
    padding: 20px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    color: #303030;
    
}

.container .conteudo .box h1{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-family: basic,sans-serif;
    font-size:70px;
    color: #303030;
}

.container .conteudo .box .texto h1{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-family: basic,sans-serif;
    font-size:70px;
    color: #303030;
}

.container .conteudo .box .texto{
    width: 100%;
    height: auto;
    text-align: center;
    font-family: basic,sans-serif;
    color: #303030;
    font-size: 30px;
    margin-bottom: 100px;
}

.container .conteudo .box .texto img{
    margin-bottom: 50px;
}

.container .conteudo .box img{
    margin-top: 50px;
    width: 100%;
    height: auto;
}

